<div class="breadcrumb-container">
        <a href="/">
            <div class="breadcrumb-item">
                <p>Inicio</p>
            </div>
        </a>
        
        <div class="breadcrumb-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
            </svg>
        </div>
         <div class="breadcrumb-item breadcrumb-active">
                <p>Tv Lives</p>
            </div>

    </div>
<div class="tv-lives-container">
    
    {{#each tvlives}}
    <a href="/tv-live/{{id}}">
    <div class="tv-lives-item">
        <div class="tv-lives-shadow">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                    clip-rule="evenodd" />
            </svg>
        </div>
    <div class="tv-lives-img">
        <img src="https://animegenzai.xyz/public/upload/channel/{{image}}">
    </div>
    <div class="tv-lives-title">
        <p>{{name}}</p>
    </div>
</div>
</a>
{{/each}}
</div>