<div class="loading">
    <div class="loading-br">
        <img src="/assets/img/Loading.webp">
        <div class="loading-text">
            <p>Cargado Recursos</p>
        </div>
    </div>
</div>
