<div class="menu-left-container"  tabindex="-1">
    <!--<div class="menu-button-slide" id="SlideTypeA"  data-act="active">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
</svg>
    </div>
     <a href="/">
    <div class="menu-icon">
        
        <img decoding="async" loading="lazy" src="/assets/img/icon.png">
         
    </div>
   </a>-->
   <div class="menu-top-iris">
    <div class="menu-icon">
        
        <img decoding="async" loading="lazy" src="/assets/img/icon.png">
         
    </div>
        <p id="title-iris"></p>
    </div>
    <div class="menu-left-title">
        <p>General</p>
    </div>
    <a href="/">
        <div class="menu-left-item st-home">
            <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            <p>Inicio</p>
            <div class="line-limit"></div>
        </div>
    </a>
    <!--<a href="/Discovery">
        <div class="menu-left-item st-discovery">
            <svg xmlns="http://www.w3.org/2000/svg"  id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
            </svg>
            <p>Descubrir</p>
        </div>
    </a>-->
    <!--<a href="/Discovery">
        <div class="menu-left-item">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
            </svg>
            <p>Tendencias</p>
        </div>
    </a>-->
    <a href="/tv-lives">
        <div class="menu-left-item st-tvlives">
            <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            <p>TV Live</p>
        </div>
    </a>
    <div class="menu-left-title">
        <p>Descubrir</p>
    </div>
    <a href="/categories">
        <div class="menu-left-item st-categories">
            <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
            </svg>
            <p>Categorias</p>
        </div>
    </a>
    <!--<a href="#">
        <div class="menu-left-item">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
            </svg>
            <p>Disuciones</p>
        </div>
    </a>
    <a href="#">
        <div class="menu-left-item">
            <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
            </svg>
            <p>Lista Publicas</p>
        </div>
    </a>-->
    <div class="menu-left-title">
        <p>Mas opciones</p>
    </div>
    <a href="https://github.com/TokyoTF/AnimeGenzai-Desktop/discussions" target="_blank">
    <div class="menu-left-item" id="social-1">
        <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
        </svg>
        <p>Reportar</p>
    </div>
    </a>
    <a href="https://github.com/TokyoTF/AnimeGenzai-Desktop" target="_blank">
    <div class="menu-left-item" id="social-2">
        <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
        </svg>
        <p>Github</p>
    </div>
    </a>
    <!--<a href="/profile/Chekochekin">
    <div class="menu-left-item" id="social-2">
        <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
        </svg>
        <p>user</p>
    </div>
    </a>-->
    <a href="https://discord.gg/F59KYXtjMv"target="_blank">
    <div class="menu-left-item" id="social-3">
        <svg xmlns="http://www.w3.org/2000/svg" id="USD" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
        <p>Discord</p>
    </div>
    </a>
    <div class="control-versions">
        <p>v1.9.2-Beta</p>
    </div>
</div>
