<div class="menu-top-float">
    <div class="menu-top-float-blur">
    </div>
 <div class="menu-top-float-item">
     <p>sad</p>
 </div>
 <div class="menu-top-float-item">
     <p>sad</p>
 </div>
 <div class="menu-top-float-item">
     <p>sad</p>
 </div>
</div>