<div class="menu-top-float nodrag">

    <a href="/" class="fl">
        <div class="menu-top-float-item mn-inicio">
            <p>Inicio</p>
        </div>
    </a>
    <a href="/tv-lives" class="fl">
        <div class="menu-top-float-item mn-tvlives">
            <p>TV Lives</p>
        </div>
    </a>
    <a href="/categories" class="fl">
        <div class="menu-top-float-item mn-cat">
            <p>Categorias</p>
        </div>
    </a>
</div>