<div class="menu-top-float nodrag">

    <a href="/" class="fl">
        <div class="menu-top-float-item mn-inicio">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 6.453l9 8.375v9.172h-6v-6h-6v6h-6v-9.172l9-8.375zm12 5.695l-12-11.148-12 11.133 1.361 1.465 10.639-9.868 10.639 9.883 1.361-1.465z"/></svg>
            <p>Inicio</p>
        </div>
    </a>
    <a href="/tv-lives" class="fl">
        <div class="menu-top-float-item mn-tvlives">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 1v17h24v-17h-24zm22 15h-20v-13h20v13zm-6.599 4l2.599 3h-12l2.599-3h6.802z"/></svg>
            <p>TV Lives</p>
        </div>
    </a>
    <a href="/categories" class="fl">
        <div class="menu-top-float-item mn-cat">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3.44 1.999l-.439-1.999h17.994l-.439 1.999h-17.116zm-3.44 6.001l2.035 16h19.868l2.097-16h-24zm22.255-2l.371-2h-21.256l.371 2h20.514z"/></svg>
            <p>Categorias</p>
        </div>
    </a>
</div>