<div class="song-box" tabindex="-1">
    <div class="song-circle">
        <img
            src="https://c.tenor.com/IMNDZBkct8gAAAAC/anime-girl.gif">
    </div>
    <div class="song-info">
        <div class="song-title">
            <p>asdasdasd</p>
        </div>
    </div>
</div>
<audio controls style="margin-left:70px" id="music" preload="auto">
    <source src="http://stream.zeno.fm/h2xdteazc48uv">
</audio>

<script src="/components/songHandler/player.js"></script>