<div class="user-container">
    <div class="user-panel-login">
        <form action="/user/login" method="post">
            <div class="Input-orden-T4">
<input class="Input-style-A" type="text" name="usermail">
            </div>
            
             <div class="Input-orden-T4">
<input class="Input-style-A" type="text" name="userpassword">
            </div>
            <div class="Input-style-B"><button type="submit">Login</button></div>
        </form>
    </div>
</div>